[2014-06-13 11:08] mauryaratan opened #1 "Allow subtitle to be edited under "Quick Edit" mode"
Hey @philiparthurmoore, thanks for this plugin. I love such small plugins that does one job and does it smartly.

I was just integrating this plugin with one of my themes and felt the need of quickly adding subtitles to all posts, but editing all posts one by one takes a lot of time. It would be a good idea to allow editing in quick edit mode.

Thoughts?

[2014-06-13 13:25] samikeijonen opened #2 "Doesn't seem to work with function single_post_title."
If I change this

https://github.com/samikeijonen/mina-olen/blob/master/content.php#L7

to `<?php the_title( '<h1 class="entry-title">', '</h1>' ); ?>`

this, subtitles works just fine. It's no big deal but just wondering.

[2014-06-13 17:41] joshlevinson opened #3 "Can't use special characters in the title."
[This check](https://github.com/philiparthurmoore/Subtitles/blob/master/public/class-subtitles.php#L417) fails when using special characters in the title (apostrophes, periods).

![subtitle](https://cloud.githubusercontent.com/assets/2895131/3273226/de096162-f321-11e3-982d-f00bcc91d1f5.png)

[2014-06-13 17:49] joshlevinson opened #4 "Global $id should not be used"
You left some pretty good comments on why you want to check that the `global $id` is available, but according to [this ticket on trac](https://core.trac.wordpress.org/ticket/11624), usage of the `$id` is frowned upon. It's also not listed on WordPress' [list of global variables](http://codex.wordpress.org/Global_Variables).
Is there something else you can use to check the placement of the post?

[2014-06-13 17:50] philiparthurmoore opened #5 "Add in better handling for Yoast's SEO plugin breadcrumbs."
The issue was raised [here](http://wordpress.org/support/topic/not-compatible-with-wordpress-seo-yoast?replies=7). I'll likely end up bailing on any subtitle magic in a function hooked to `wp_seo_get_bc_title` to make sure that subtitles never show up in those breadcrumbs.

[2014-06-14 01:22] Honkytonky opened #6 "Subtitles do not show on Frontend"
Hi Arthur. Opening this thread coming from wordpress.org. The backend of subtitles works just fine but on my frontend no subtitles are being displayed. The theme I use is Zeitgeist from Enveato. It is well coded and h1 tags are properly set in the title. Nevertheless the h1 tag is being defined within a class called pagetitle as you can see in this css: [link removed by Philip for security]. I gue

[2014-06-14 06:08] #5 closed, assigned to nobody

[2014-06-14 15:15] #4 closed, assigned to nobody

[2014-06-14 15:33] #2 closed, assigned to nobody

[2014-06-14 18:13] #3 closed, assigned to nobody

[2014-06-15 13:18] philiparthurmoore opened #8 "Subtitles only works in PHP 5 >= 5.3.0."
Right now, the Singleton pattern in _Subtitles_ relies on PHP 5 >= 5.3.0. Specifically, [get_called_class](http://www.php.net//manual/en/function.get-called-class.php) and `new static` (late static binding) are not compatible with PHP 5.2.4, which [WordPress still supports](http://wordpress.org/about/stats/). I need to 1) see if there's a better way to handle this design pattern that accounts for

[2014-06-15 14:06] leokoo opened #9 "SuperStore, Headlines & Subtitles"
Hey Philip!

Glad to hear from you. I could send you the files, or dropbox them. But yes, headlines is an amazing plugin. Just that when a new headline is generated, there isn't a place for subtitles. Perhaps I should talk to Noah's team as well?

[2014-06-15 14:43] #9 closed, assigned to nobody

[2014-06-16 16:50] #6 closed, assigned to nobody

[2014-06-17 14:59] joseluis opened #12 "debug notice for each menu element when no search results were found"
This line gets printed before the menu, one time for each link it contains:

[code]

only after searching something that didn't return results.

Tested with multiple themes, including Twenty Fourteen

[2014-06-17 15:52] #12 closed, assigned to nobody

[2014-06-19 04:41] rmccue opened #13 "Remove excess `@since`"
At the moment, there's an abundance of `@since` throughout the code. `@since` only applies to classes, functions/methods, and files, so the rest should be removed.

As a sidenote, I think there's way too much inline documentation. Not every call needs to be documented, and the inline docs currently make the code _less_ readable. Most of these should either be removed, or changed to single-line com

[2014-06-19 04:44] #13 closed, assigned to nobody

[2014-06-19 04:59] rmccue opened #14 "Subtitles::getInstance uses unnecessary array"
`getinstance` currently uses `self::$instances[ get_called_class() ] = new static`. However, since the plugin assumes PHP 5.3+ (with use of both `get_called_class()` and `static`), this could be set as `static::` instead.

[code]

(Also, contrary to the comment `'self' in this context refers to the current class in use`, it actually refers to the class where the method is defined.)

[2014-06-19 11:20] #8 closed, assigned to nobody

[2014-06-19 11:21] #14 closed, assigned to nobody

[2014-06-19 13:31] zedejose opened #15 "Allow translating stable versions"
I propose to move translations to http://wp-translations.org/developers-wp-translations/, so that strings can be kept in sync with current versions, instead of always one behind.

[2014-06-20 09:54] tommyferry opened #16 "Plugin conflict with Widget Builder"
Hi @philiparthurmoore,

I am running WordPress 3.9.1 with both the Subtitles and Widget Builder (http://wordpress.org/plugins/widget-builder/) plugins active.

I just tried updating the Subtitles plugin to the latest version (1.0.3) and I'm getting an error message next to each instance of a Widget Builder widget. Error reads;

Warning: Missing argument 2 for Subtitles::the_subtitle() in /[...]/wp

[2014-06-20 10:54] #16 closed, assigned to nobody

[2014-06-20 16:36] cyrildc opened #17 "Subtitle doesn't appear on Page"
Hi,
I've installed your Subtitles plugin and I'm using the Twenty Fourteen theme.
The subtitle appears well on a single post but doesn't appear on a page.

(I've installed only your plugin. I've also tested with other themes with no success)

[2014-06-20 16:56] #17 closed, assigned to nobody

[2014-06-29 20:59] lemartinet opened #19 "Make the plugin work with qtranslate/mqtranslate"
Hi,
Thanks for your plugin! However, it doesn't work with qtranslate. I tried using the language shortcode [:en] in the subtitle field within the editor, but it breaks the posts. Could you filter the field with __()?
Thanks!
Manu

[2014-07-03 08:45] cyrildc opened #20 "Get only the title"
Is there a way to retrieve only the title (without the subtitle) using get_the_title() or another function ?

[2014-07-03 09:20] #20 closed, assigned to nobody

[2014-07-13 19:37] RokketCrypto opened #21 "Making the plugin work in contact page"
Hello, first of all thank you for this great plugin!! It works awesome on pages with "default template" and looks really beautiful if you use the right font.

Here is my problem: I don't seem able to make it work with pages that use the "contact template" I mean, it works OK on the admin part, I can see the new subtitle field and save the subtitle to the database, but then it doesn't show in the f

[2014-07-21 14:30] jdahdah opened #22 "Output subtitles in Recent Posts widget"
Subtitles are currently not displayed in the default Recent Posts widget. Is there a way to do this in my theme's functions.php?

[2014-07-21 14:43] #21 closed, assigned to nobody

[2014-07-21 14:44] #19 closed, assigned to nobody

[2014-07-21 15:13] #22 closed, assigned to nobody

[2014-08-10 10:51] kopepasah opened #23 "Allow tabbing from title to subtitle and subtitle to post content."
When working on a new post, the expected result is to tab from the post title to the subtitle and from the subtitle to the post content.

The current state skips over the subtitle input entirely (when tabbing from the title) and tabs to the buttons (when in text editing mode).

[2014-08-14 02:14] travelinboots opened #25 "Subtitles are not showing in Single Posts"
I am using Spacious Pro by Theme Grill. I already installed the plugin and added subtitles in two of my latest posts but they are not showing on the theme.

The URL of my blog is http://www.travelinboots.com/
Specific postss not showing the Subtitles are:
An Eerie Wander Through The Forest of Kanmangafuchi Abyss
A Journey To The World Heritage of Nikko And It’s Magical

I need help on this, if the

[2014-08-14 03:43] #25 closed, assigned to nobody

[2014-08-14 06:51] philiparthurmoore opened #26 "Add default Subtitles support to Jetpack Portfolios"
Taking care of this in the next release.

[2014-08-17 12:03] #23 closed, assigned to nobody

[2014-08-17 13:15] #26 closed, assigned to nobody

[2014-08-23 07:26] philiparthurmoore opened #28 "Better CSS Handling (Change Enqueue to head)"
See https://twitter.com/michaelarestad/status/503047788176101376 from @michaelarestad. I'll release this fix before September 1st.

[2014-09-07 03:41] #28 closed, assigned to nobody

[2014-09-17 01:05] bryceadams opened #29 "Show subtitle in Edit Posts screen (edit.php)"

[2014-09-17 01:08] bryceadams opened #30 "Move Permalink / view post to below subtitle"
Interested on your thoughts on this!

I think visually this is a lot cleaner and doesn't have any impact on UX.

![screen shot 2014-09-17 at 8 06 12 am](https://cloud.githubusercontent.com/assets/1532482/4297196/fca0c0f4-3e06-11e4-8073-9ca1d2bddc84.png)

[2014-11-01 03:25] philiparthurmoore opened #31 "Possibly allow users to use excerpts in lieu of custom subtitles."
Not sold on [this](https://wordpress.org/support/topic/badly-needed-plugin?replies=1#post-6170535) just yet; putting here so I don't forget it.

[2014-11-05 10:48] philiparthurmoore opened #32 "Do not show subtitles in RSS feeds."
See https://wordpress.org/support/topic/subtitles-being-added-to-titles-in-rss-feed?replies=2

[2014-11-05 11:42] #32 closed, assigned to nobody

[2014-11-05 12:13] #30 closed, assigned to nobody

[2014-12-06 07:16] philiparthurmoore opened #33 "Determine Option Set for Subtitles"
Normal users aren't fans of using filters and hooks to customize the plugin. Possibly add in a minimal option set to allow them to control Subtitle views on different areas of the site. See https://wordpress.org/support/topic/very-top-plugin-for-subtitles?replies=3#post-6301644

[2014-12-17 11:20] philiparthurmoore opened #34 "Update for WordPress 4.1"

[2014-12-19 12:25] #34 closed, assigned to nobody

[2014-12-23 10:59] philiparthurmoore opened #35 "Ensure that subtitles appear in SERPs"

[2015-02-20 09:55] webmandesign opened #36 "Early return filter"
Hi Philip,

Great plugin indeed, thank you for that! :+1:

I have one "issue" though. I would like to add a blog page subtitle (for get_option( 'page_for_posts' ) page) and then display it on theme's frontend. This is not really possible now as when [you return the empty subtitle early](https://github.com/philiparthurmoore/Subtitles/blob/master/public/class-subtitles.php#L586), there is no filter

[2015-02-20 09:58] philiparthurmoore commented on #36
Hi Oliver,

This makes sense. I assume that you've solved this issue by modifying the code on your end? I'm going to leave this Issue open and patch the plugin. It's a good suggestion.

Cheers!

[2015-02-20 10:02] webmandesign commented on #36
Hi Philip,

I'm ashamed as I haven't tried it before. I've done it now and it doesn't work actually. I will do some editing and will let you know about the best solution I've come up with in a while ;)

Regards,

Oliver

[2015-02-20 10:03] philiparthurmoore commented on #36
Sounds good Oliver. When I have some time I'll do some testing on my end as well. I hope to have some time for the plugin this weekend. Cheers.

[2015-02-20 10:42] webmandesign commented on #36
Hi Philip,

I have done some test and it would be actually too complicated to add this functionality into your plugin I guess. I wasn't able to come up with a good solution via changing the code in the plugin. The thing is that the `$post` variable is being taken from the first post in the loop. This would then determinate when the plugin return early (depending on whether the first loop post has

[2015-02-20 10:44] philiparthurmoore commented on #36
Awesome Oliver! That's a perfectly fine solution that you've proposed. I like it. :) Thanks for letting me know.

[2015-02-20 10:44] #36 closed

[2015-02-20 10:45] philiparthurmoore commented on #36
I should have thought of that also. :-P

[2015-03-23 04:04] philiparthurmoore opened #37 "Include subtitles in WordPress search results."
Right now built-in WordPress search doesn't pick up subtitles. I need to figure out a suitable way to handle this: https://wordpress.org/support/topic/search-does-not-find-subtitles?replies=5

[2015-03-25 03:33] philiparthurmoore opened #38 "Add subtitles into archive pages."
See this: https://wordpress.org/support/topic/subtitles-in-category-archives

[2015-03-26 22:02] DannyOutlaw opened #39 "Allow basic HTML in Subtitles"
I would love to be able to add a simple text link in the subtite

[2015-03-27 01:05] philiparthurmoore commented on #39
Hi @DannyOutlaw. You can do this by [modifying](https://github.com/philiparthurmoore/Subtitles/blob/7f2942f4048ee40576680fef56397b6fc7dc7145/admin/subtitles-admin.php#L242) the `$subtitles_allowed_tags` array. I need to add in a way for you to do that without messing with the plugin though. I'll leave this issue open until I update the plugin to let you change this array via filter.

[2015-03-29 12:16] MissShugah opened #40 "Subtitles repeats and conflicts with my email social share code"
Hi Philip,

I'm in love with subtitles but when I use it the social share code in my theme reacts and converts my email share button into text exposing all of the information that goes along with it. The twitter & facebook share buttons are not affected. I'm unsure how to fix this but I did look in my files and dont see "get-titles" or "get_the_titles" & my issue isnt Raw HTML anyway so title comm

[2015-03-29 12:21] philiparthurmoore commented on #40
Hi @MissShugah. Is your social sharing coming from a plugin or is it directly in your theme? Can you show me that code?

[2015-03-29 13:00] MissShugah commented on #40
The social sharing is a theme shortcode coded into the theme itself to
appear at the bottom of all of my posts. Not sure how to send code, Here's
a copy of whats in there, let me know if there is a better way to receive
it.

<?php get_header(); ?>

  <div class="x-container max width main">
    <div class="offset cf">
      <div class="<?php x_main_content_class(); ?>" role="main">
        <?php w

[2015-03-29 13:58] philiparthurmoore commented on #40
Okay, the reason this is happening is because your shortcode stuff is inside of your Loop (see [this](https://github.com/philiparthurmoore/Subtitles#subtitles-dont-show-up-on-my-site)). The only way to fix this "easily" would be to disable automatic subtitles and then using the built-in template tags that come with the plugin. Where is the code for your post titles? I don't see that in the above s

[2015-03-29 14:11] MissShugah commented on #40
I'm thinking of removing the short code completely & searching for a
lightweight share plugin with more functionality.  Hopefully the plugin
will function outside of the loop & that will eliminate the issue. I prefer
to keep subtitles automatic. I will let you know if it works after my Yoga
class. :)

Cheers!
On Mar 29, 2015 9:58 AM, "Philip Arthur Moore" <notifications@github.com>
wrote:

[2015-03-29 14:13] philiparthurmoore commented on #40
Sounds good. Let me know. Cheers.

[2015-03-29 17:59] MissShugah commented on #40
Problem solved. Taking your tip about the "loop" I moved the short code further down in the same div and problem went away. :)

[2015-03-29 17:59] #40 closed

[2015-03-30 02:45] philiparthurmoore commented on #40
Wonderful. Thanks for letting me know!

[2015-03-30 20:41] hamzan95 opened #41 "insert the sub-title in slider revolution"
Hello i have a roblem and i hope u can help me am using Subtitles Plugin and it works perfect but i need to put the subtitle uner the primary title in the slider show
so in revolution slider i have an option called meta tags so if i want to show the title related to the Post i  use %title%
i need to insert the subtitle under the primary title any one can help me
![prblm](https://cloud.githubuserco

[2015-03-31 03:29] philiparthurmoore commented on #41
Hi @hamzan95. I'm afraid that I do not have a suitable answer for you. I think that this would require digging into the Slider Revolution code and adding support for Subtitles to that plugin, not the other way around. Subtitles comes with a [fairly extensive API](https://github.com/philiparthurmoore/Subtitles#adding-subtitles-support-into-custom-post-types) and this shouldn't be too hard to pull o

[2015-03-31 03:29] #41 closed

[2015-03-31 06:15] MissShugah opened #42 "Adding a class to subtitles?"
Hello,

I use 2 different title styles on my site & I'd like to apply the appropriate subtitle style to each one via my global css. How can I name them separately or what is the best way to get this done?

[2015-03-31 06:17] philiparthurmoore commented on #42
Do you mean that you would like to have a separate style for your subtitles and a separate title for your normal titles? Subtitles already comes with a CSS class `.entry-subtitle`. Are you not able to take control using just that class? Can you show me the HTML output currently? Thanks.

[2015-03-31 06:25] MissShugah commented on #42
Let's say posts 1-40 use blue font at 50px with papyrus font

And posts 41-59 use black font at 75px with comic sans

Using .entry-subtitle only allows me to choose 1 style globally. How can I
style both separately & globally?
On Mar 31, 2015 2:17 AM, "Philip Arthur Moore" <notifications@github.com>
wrote:

[2015-03-31 06:28] philiparthurmoore commented on #42
Ah. Seems like something you should be able to do with CSS. Global would be `.entry-subtitle` and specific would look something like this:

[code]

Each post in WordPress already has a unique class on it so you should be able to select your subtitles in this manner.

[2015-03-31 06:50] MissShugah commented on #42
Yes. Postid is the method I'm using but since I have a lot of posts I was
wondering if there was a way to style multiple posts at once rather than
use separate postid numbers for each post. If I continue to use postids, I
will end up with separate css for posts 41, 42, 43..... all the way up to
59. Meanwhile posts 1 to 40 can be effortlessly styled under class
"entry-subtitle."

Does that make sen

[2015-03-31 10:22] philiparthurmoore commented on #42
I see what you mean. This isn't really possible right now; you could look into using `:not` with a combination of `:nth-child` (see an [example](http://stackoverflow.com/questions/12289853/css-notfirst-child-selector)) to dynamically style a set of posts that contain a subtitle. Or you could do this from within your own theme and give your first 40 posts a certain class. I think it would be very e

[2015-04-01 00:25] hamzan95 commented on #41
thank you so much for the replay  i hope i get a solution for this cause i need it and it's gonna be helpful for many people thanks again.Cheers

[2015-04-01 16:47] MissShugah commented on #42
Thank you. I got my theme to add a class to posts as suggested. Thanks for
the tip.  :)
On Mar 31, 2015 6:22 AM, "Philip Arthur Moore" <notifications@github.com>
wrote:

[2015-04-03 21:51] MissShugah opened #43 "Subtitle is covering content on mobile"
Hello,

I am unsure who would be best to solve this problem (theme support or you) so I’m trying you first.
The plugin works well in desktop view but on mobile my entry content pretends the subtitle isnt there so my 1st paragraph sits on top of it right underneath the h1.

A workaround I am using it this:

@media (max-width:480px) {
.single-post .entry-content {
margin-top: 70% !important;
margin-

[2015-04-04 08:58] #42 closed

[2015-04-04 08:59] philiparthurmoore commented on #43
This sounds like a theme CSS issue. Can you please give me a live URL and I'll take a look? Thanks.

[2015-04-04 09:54] MissShugah commented on #43
This is a post I fixed
http://www.drcarlhart.com/black-intellectual-does-not-mean-race-expert/

This is a post I didn't fix yet
http://www.drcarlhart.com/patrick-kennedy-wants-keep-marijuana-illegal/
On Apr 4, 2015 4:59 AM, "Philip Arthur Moore" <notifications@github.com>
wrote:

[2015-04-04 12:15] lmartins opened #44 "Compatibility with html title and wp_title()"
Hi,

Thank your for this really useful plugin.
Currently using Subtitles and wp_title() to generate pages title attribute, there's an issue because what gets outputted is something like:
[code]
Is this something you planning to fix?

[2015-04-04 12:25] philiparthurmoore commented on #44
Hi there. This shouldn't be happening at all. Where exactly are you seeing this?

[2015-04-04 12:26] lmartins commented on #44
Im seeing it on my blog, but i've just noticed it only happens locally, not on the server:
http://intangible.life/modern-wordpress-workflow-theming/

I'll close this for now and report back if I see it happening on server. Thaks.

[2015-04-04 12:26] #44 closed

[2015-04-04 12:27] philiparthurmoore commented on #44
Great, thanks. Subtitle stuff should only affect everything inside The Loop, and not your page title. If you see this come up again let me know.

[2015-04-09 18:15] jburess opened #45 "RSS Feed-add subtitle"
Hello!

Sorry if this is a dup, I try to submit a question through another area on here but not sure if it was the right place.

I love this plugin, is it possible to pass through the subtitle in the rss feed?  I'm using mailchimp to send daily email of new blog post and would like to include the subtitle.

Thanks!
Julie

[2015-04-10 07:04] philiparthurmoore commented on #45
Hi Julie. Subtitles [aren't shown](https://github.com/philiparthurmoore/Subtitles/blob/master/public/class-subtitles.php#L568) in feeds. There's no way to override this that doesn't involve changing the plugin. I'll create a way to easily override this. Just to be clear, do you want your subtitle to be shown in Subject lines or what? Can you show me a screenshot of where you expect them to show up

[2015-04-10 15:30] jburess commented on #45
Hi Philip,

Thank you for getting back to me.  This is how it currently shows, Screen Shot 2015-04-10 at 8.27.07 AM.png

is it possible to create under the main title, it could get long if we added to the end of the title.  Or possibly below the pic, right above the descriptions?

Thanks!
Julie﻿

On Apr 10, 2015, at 12:08 AM, Philip Arthur Moore <notifications@github.com> wrote:

[2015-04-13 09:20] philiparthurmoore commented on #43
I'm very sorry for my late response. I have been swamped. I will take a look at this tomorrow.

[2015-04-13 09:21] philiparthurmoore commented on #45
Hi Julie﻿. No screenshot was attached to [your message](https://github.com/philiparthurmoore/Subtitles/issues/45). Can you upload it directly on GitHub? Very sorry for my late response. I've been swamped. Thanks.

[2015-04-15 20:50] jburess commented on #45
Hi Phillip,

Thats strange, I checked the email I sent and it shows it was attached.  I haven't uploaded to GitHub, but I will take a look, any special place?

I've tried to attach it again here just in case.

Thanks!
Julie
Screen Shot 2015-04-10 at 8.27.07 AM.png﻿

On Apr 13, 2015, at 02:21 AM, Philip Arthur Moore <notifications@github.com> wrote:

[2015-04-16 02:08] philiparthurmoore commented on #43
Hi @MissShugah. I just looked at your CSS and it seems like you put `absolute` positioning on the entry subtitle. Any reason for this? Why can't you use `relative` positioning like how it should be displayed by default? Thanks.

[2015-04-16 02:09] philiparthurmoore commented on #45
Hi Julie. Yes, please upload them here: https://github.com/philiparthurmoore/Subtitles/issues/45. Email attachments do not appear to work with GitHub. Thank you.

[2015-05-08 17:15] Volker-E opened #46 "If hiding subtitles in comment area, why setting font-size?"
class-subtitles.php line 526f. Why adding `font-size` to hidden element? Should be removed IMHO.

[2015-05-09 14:56] philiparthurmoore commented on #46
That's a good question. Looks like this is legacy stuff leftover from https://github.com/philiparthurmoore/Subtitles/commit/175762c87106209d11544d5a6cd8197584c8044d. I'd be fine removing it.

[2015-05-12 12:37] tienvooracht opened #47 "Hide subtitle in admin area for certain pages/templates"
Hi,

Awesome plugin! Got one question though: is it possible to hide the subtitle box for certain specific pages? Perhaps when using a certain template?

For instance i'd like to hide the subtitle box on the page that is set as homepage.

Thanks in advance!

[2015-05-14 14:15] philiparthurmoore commented on #47
Hi there. There should be a way to do this by removing these actions:

[code]

The code is a bit involved, though. See [this thread](http://wordpress.stackexchange.com/questions/36013/remove-action-or-remove-filter-with-external-classes) for more information. I can look into this a bit later but wanted to follow up with you and point you in the right direction. I'll update this Issue if I come up

[2015-06-20 14:56] SabrinaHD opened #48 "subtitle repeats itself in main content"
Hello Thank you for making th subtitle plugin! is it updatet for newest wordpress version? I attatched an image to show my problem.

Thank you and best wishes,
Sabrina

![subtitle-sabrina-heuer de_slash_ein-plaedoyer-fuer-die-filmsynchronisation](https://cloud.githubusercontent.com/assets/12979058/8267776/11e2097e-176d-11e5-9dea-de3590260234.jpg)

[2015-06-22 13:36] philiparthurmoore commented on #48
Hi there. Please see [this](https://github.com/philiparthurmoore/Subtitles#theres-weird-html-showing-up-on-my-site). Cheers.

[2015-06-22 13:36] #48 closed

[2015-06-28 01:12] themechills opened #50 "Showing Subtitles on single posts conflicts with page title tag"
Hi Philip,

Firstly, great plugin so thanks for sharing it with the community.

My question relates to the fact that I only want the subtitles showing in single page views. I got this working with this:

[code]

Though after following the above approach it interferes with the title tag of the site. Any idea why this would be happening?

Thanks,

Leo

[2015-06-28 13:36] philiparthurmoore commented on #50
Thanks Leo. Can you provide me with more information about this:

Without knowing which theme you're using, which plugins you're using, and which page you're referring to, it's hard to diagnose what may be causing this.

[2015-06-29 10:10] themechills commented on #50
Hi Philip,

Hmmm, strange. Just got it working...

What I did was remove the second if statement, then declared the `the_subtitle()` tag where I wanted to apply it.

I'm thinking this is correct, though if you see an issue with this implementation I'm open to your feedback.

Thanks again,

Leo

[2015-06-29 11:46] philiparthurmoore commented on #50
Sounds good Leo. That implementation is also totally fine. Thanks for letting me know. If you run into any other issues let me know and I'll be happy to look into it. Cheers.

[2015-06-29 11:46] #50 closed

[2015-07-15 10:43] JennaCos opened #51 "Subtitles showing up strangely on recent post widget"
Hi! I really, really love this plugin, it looks amazing with my website theme! However I'm just having an issue with how it shows up in the recent post widget. I have the widget in a prominent place on the site, and I want to have only the post title and date underneath. But when I add a subtitle to the post it automatically comes up, and also comes up with the span tags for some reason. I'm attac

[2015-07-19 16:09] philiparthurmoore commented on #51
@JennaCos So sorry for my late reply. This issue is likely due to the explanation outlined [here](https://github.com/philiparthurmoore/Subtitles#theres-weird-html-showing-up-on-my-site). Can you give me a link to the plugin that you're using? I can scan the code quickly and see if there's an issue with the way that it's displaying titles. Cheers.

[2015-07-19 17:27] #46 closed

[2015-07-19 17:58] #43 closed

[2015-07-19 17:59] philiparthurmoore commented on #43
Closing this out since it's a theme issue and not a plugin issue. Feel free to update me if you run into plugin-related issues in the future. Thanks.

[2015-07-19 18:46] #39 closed

[2015-07-19 18:47] philiparthurmoore commented on #39
This will be fixed in the next release. See the [commit](https://github.com/philiparthurmoore/Subtitles/commit/71decdd6f62f6ca74894d6f084e3e09ad2943ddf) for an example of how this will be handled.

[2015-07-19 21:03] philiparthurmoore commented on #29
Kicked off a V1 for this in https://github.com/philiparthurmoore/Subtitles/commit/9fa9ec1180862b7a29c2058f08ad3db97ffccbb2. Will release it in the next update.

[2015-07-19 21:03] #29 closed

[2015-07-19 21:07] philiparthurmoore commented on #1
Added a way to view Subtitles on Posts/Pages screens in https://github.com/philiparthurmoore/Subtitles/commit/9fa9ec1180862b7a29c2058f08ad3db97ffccbb2. I'll revisit this Issue after this next release has had some time to breathe.

[2015-07-19 21:07] philiparthurmoore commented on #31
Going to pass on this Enhancement for now.

[2015-07-19 21:07] #31 closed

[2015-07-19 21:08] philiparthurmoore commented on #33
Closing this for now. May revisit this in the future but it's not a priority at the moment.

[2015-07-19 21:08] #33 closed

[2015-07-19 21:11] philiparthurmoore commented on #38
This is a bit too involved; going to pass on this for now and revisit it much later. There are bigger fish to fry at the moment with the plugin that have more impact than this change.

[2015-07-19 21:11] #38 closed

[2015-07-19 21:12] philiparthurmoore commented on #35
Related: #37.

[2015-07-19 21:42] philiparthurmoore opened #52 "Add support for shortcodes."
See https://wordpress.org/support/topic/nativae-support-for-shortcode-use?replies=3

[2015-07-19 23:00] Volker-E commented on #46
:+1:

[2015-07-20 03:13] JennaCos commented on #51
Thanks! I'm using the Ink theme.

http://themeforest.net/item/ink-a-wordpress-blogging-theme-to-tell-stories/7520750

Our site has a coming soon displayed because it's not launched yet, but in case you can still use it it's: http://www.the8percent.com

[2015-08-03 23:22] deviodigital opened #54 "single_post_title() not showing subtitle outside of the loop"
I noticed there was an [issue](https://github.com/philiparthurmoore/Subtitles/issues/2) in 2014 about this, but I've been testing this plugin out and have the `single_post_title();` code in my theme's header.php file, but it's not outputting the subtitle.

When viewing the page source, it also looks like it's not effecting the title at all. The title output is just the plain WordPress post title o

[2015-08-03 23:48] philiparthurmoore commented on #54
Thanks for letting me know. Subtitles will only show if they are [inside the Loop](https://github.com/philiparthurmoore/Subtitles#subtitles-dont-show-up-on-my-site). If you'd like to display them outside the loop then you might want to look into using `the_subtitle` or `get_the_subtitle` ([here](https://github.com/philiparthurmoore/Subtitles#using-template-tags)). Let me know how that goes for you

[2015-08-04 00:03] deviodigital commented on #54
Well, shit, that worked perfectly. Thanks again for an awesome plugin!

[2015-08-04 00:03] #54 closed

[2015-08-04 00:11] philiparthurmoore commented on #54
Fantastic! Thanks for letting me know. Please leave me a review if you have
a moment. Cheers.
On Aug 4, 2015 7:03 AM, "Devio Digital" <notifications@github.com> wrote:

[2015-08-05 20:48] edwardterry opened #55 "Incorrect HTML generated on blog posts page?"
I just installed the plugin which is excellent. But ... it appears to have an invalid HTML output on my blog home page (latest posts). Something weird going on in the featured-holder DIV. You can see it on www.hologram.me.uk and the first post (Excession) shows the issue right under the picture. This also appears on the actual post itself.

[2015-08-05 21:31] philiparthurmoore commented on #55
Hi there. Have you seen [this](https://github.com/philiparthurmoore/Subtitles#theres-weird-html-showing-up-on-my-site)? Cheers.

[2015-08-06 00:53] edwardterry commented on #55
Thanks for the quick response. It looks like the theme conflict ... I disabled the plugin and noticed the use of the post title in the place where the weird HTML appeared after I enabled it. This means the theme needs to be updated - I have now made temporary updates which solve the theme bug and will report these to the theme developer. Much appreciated!

[2015-08-06 05:30] philiparthurmoore commented on #55
Thanks so much for the heads up. I'll close this but feel free to open another Issue if you run into any other potential bugs. And please leave me a review on WordPress.org if you enjoy the plugin. Thank you!

[2015-08-06 05:30] #55 closed

[2015-08-20 04:46] jfeldman28 opened #56 "WooCommerce Product Support"
Hello,

Is it possible to add subtitles to products in WooCommerce with this plugin?

Thank you

[2015-08-20 04:54] philiparthurmoore commented on #56
Hi there. I don't see why not. See [this thread](https://wordpress.org/support/topic/not-working-on-woocommerce-product-pages?replies=5) for a related conversation.

[2015-08-25 08:56] webmandesign opened #57 "Not working with `single_post_title()`"
Hi Philip,

I've recently noticed that the subtitles don't work on [`single_post_title()`](https://codex.wordpress.org/Function_Reference/single_post_title) function. I use it on blog page to display the correct blog title (the page is not front page). Could you have a look at that please?

Thanks and regards,

Oliver

[2015-08-26 03:14] philiparthurmoore commented on #57
Hi Oliver,

The plugin should work on that function. See [this](https://github.com/philiparthurmoore/Subtitles/blob/9fa9ec1180862b7a29c2058f08ad3db97ffccbb2/public/class-subtitles.php#L235). Can you give me more information about your setup? It could be that you're using this function outside of the Loop.

Cheers,
Philip

[2015-08-26 03:15] #56 closed

[2015-08-26 03:16] #47 closed

[2015-08-26 03:18] philiparthurmoore commented on #51
@JennaCos Did you ever resolve this? I took a look at your site just now and it looks good. So sorry to have dropped the ball on this Issue. I can pick it up again if you're still having trouble.

[2015-08-26 03:18] philiparthurmoore commented on #45
Hi Julie. Do you still need help with this?

[2015-08-26 03:26] JennaCos commented on #51
Hi, I wasn’t able to resolve it, so I just switched to a different plugin, sorry.

Jenna Cosgrove
Marketing Strategist
Strategic Anarchy
Ph: 1300 10 30 50

On 26 Aug 2015, at 1:18 pm, Philip Arthur Moore <notifications@github.com> wrote:

[2015-08-26 03:29] JennaCos commented on #51
Hi, I wasn’t able to resolve it, so I just switched to a different recent posts plugin. It took a lot of searching, but I finally found one that had all the features I wanted, and also worked with the subtitles!

[2015-08-26 03:40] philiparthurmoore commented on #51
Fantastic. I will mark this resolved! Thanks so much for the heads up.

[2015-08-26 03:40] #51 closed

[2015-08-26 04:32] jburess commented on #45
Hi Phil,  thanks for checking in.  My client is on hold now for this but appreciate all the help!

Take Care, Julie

[2015-08-26 06:22] webmandesign commented on #57
Hi Philip,

I use it the very similar way (the same way, actually) as in [Underscores' `index.php` file](https://github.com/Automattic/_s/blob/master/index.php). The function is outside the loop in there too.

If it needs to be in a loop, I can still modify my `index.php` or use a filter hook, so no worries. I just thought this is a bug.

Regards,

Oliver

[2015-08-26 07:49] philiparthurmoore commented on #57
No, the function in _s is inside of a Loop. Either way, you can totally use this outside of your Loop; you'll just need to use [one of the built-in template tags](https://github.com/philiparthurmoore/Subtitles#subtitles-dont-show-up-on-my-site).

Closing this out as it's not a plugin bug.

Cheers!

[2015-08-26 07:49] #57 closed

[2015-08-26 08:01] webmandesign commented on #57
Hi Philip,

Thanks for explanation and help.

Doesn't the loop starts with `while`? I thought so ;)

Regards,

Oliver

[2015-08-26 08:04] philiparthurmoore commented on #57
Oops. You're totally right. I missed https://github.com/Automattic/_s/commit/955cd140f8de7f56f3ac6b0af8279237cfa469a3 when we added it into _s. :)

[2015-08-26 08:09] webmandesign commented on #57
So, I understand, this wouldn't work in _s either. For that particular use it is actually managable as we can find out the home (posts list) page ID. I will continue with custom solution then.

Thanks again!

[2015-08-26 08:15] philiparthurmoore commented on #57
A custom solution is super-easy. It'd just be this:

[code]

Is that not working?

[2015-08-26 08:18] philiparthurmoore commented on #45
Thanks Julie. I'll close this out for now then. Please feel free to re-open and update when the client moves forward.

Cheers,
Philip

[2015-08-26 08:18] #45 closed

[2015-08-26 08:51] webmandesign commented on #57
That actually wouldn't work as on `is_home()` page it picks up the subtitle from the first post in the list.

Here is my custom solution that works when using `single_post_title()` outside the loop:

	/**
	 * Subtitles support in single post title outside the loop
	 *
	 * @param  string $title
	 * @param  object $post
	 */
	function themeslug_subtitles_single_post_title( $title, $post ) {

		// Pr

[2015-08-26 08:57] philiparthurmoore commented on #57
Boom, there ya go. Thanks for sussing this out and sharing. I'll roll these into the docs and make sure to share this thread with anyone else who runs into a similar issue. Cheers!

[2015-09-05 17:46] jaime666 opened #58 "list of subtitles"
Hi, congratulations for your job
I need a page where it appears a list of the Subtitles of the posts, I mean: the "category Archive Page" but just showing the subtitles (not the titles, not the excerpt)just the list of Subtitles (ordered by categories)and linked to it post.
Is it possible??
Thank you.

[2015-09-08 08:36] philiparthurmoore commented on #58
Hi there. This should be possible with CSS, if your subtitles are already being displayed on your archive pages. Can you link me to one of your archive pages and I will show you how to do this with CSS? Cheers.

[2015-09-08 13:53] jaime666 commented on #58
Thank yo very much for your answer.
I know very little of CSS and soft, but try to give the information.
Subtitles are not displayed on the archive pages, but they Appear on the post pages. You can see:

http://consultalegalgratuita.com/category/consultas/

If you clik the title, you go to the post: there appears the subtitle.(Is the Question ¿? under the tittle of the post
Is not a problem for me

[2015-09-08 23:48] homeofmatt opened #59 "Showing subtitle revisions in post preview"
When I edit the subtitle of a pre-existing post, and then click the 'Preview Changes' button before publishing, the subtitle edits don't show. Only saved subtitles show if there are any.
I did some digging myself, and found the '_wp_post_revision_fields' method, which defines the native fields to be included as revisions (post_title, post_content, & post_excerpt). In fact, the entire revision.php

[2015-09-14 00:23] philiparthurmoore commented on #58
I'm receiving a `Error: 404 - Página no encontrada` on that page. Can you give me a better URL? Thank you!

[2015-09-14 00:25] philiparthurmoore commented on #59
Hi Matt,

This seems like a 100% legitimate and excellent request. Please let me get back to you when I've added this into the plugin. I will have some time in the coming week or so to release a new version, and this will be something that I look into.

Cheers,
Philip

[2015-09-14 21:57] jaime666 commented on #58
Oh, I´m sorry, I repeat:
Subtitles are not displayed on the archive pages, but they Appear on the post pages. You can see:
http://consultalegalgratuita.com/category/arrendamientos-alquiler/
If you clik the title, you go to the post: there appears the subtitle.(Is the Question ¿? under the tittle of the post
Thank you very much !!!

[2015-09-15 22:26] homeofmatt commented on #59
Thanks!

[2015-09-25 15:15] goncalocruz77 opened #60 "Tags to display subtitle on another page (plugin subtitles)"
Hi, I created a comun page on my domain and it pull my posts through the type tags <? Php the_permalink (); ?> <? Php the_title (); ?> And <? Php the_excerpt (); ?>. Use with wp-load.

I wonder with which I can bring the subtitle tag?

You do information on the plugin page.

Thank you.

[2015-09-25 15:16] philiparthurmoore commented on #60
Answered here: https://wordpress.org/support/topic/tags-to-display-subtitle-on-another-page?replies=2#post-7471432.

[2015-09-25 15:16] #60 closed

[2015-09-25 15:20] goncalocruz77 commented on #60
Resolvido. Obrigado.

[2015-10-02 18:54] pchrismac opened #61 "Adding Subtitles to RSS"
So, I know you took this out about a year ago, Subtitles showing up in RSS. Subtitles are becoming important in other places as well.

For example, I've setup an email campaign built from the RSS. My titles are okay, but it would really help to have that Subtitle punch. Is there some way to get it back into the RSS? Maybe even just a code fix?

Thanks for your help.

[2015-10-09 20:33] deviodigital commented on #58
@jaime666 what does your `content.php` file look like that outputs the content of each post? That would help narrow down why it's showing on single posts, but not archive pages.

[2015-10-09 21:40] jaime666 commented on #58
Hi, thank you very much for your help. I don`t have any experience sorry, I`ve been looking for the content.php archives at the administrator panel and I´ve found 5 files with that name, I try to send it to you, but I can´t upload the file (as pdf, docx,txt...)  I don´t know if that`s what you need. I´ve seen you have a mail @devio***. Can I send you the content files?
Thank you

[2015-10-09 22:03] deviodigital commented on #58
The file should be in your theme folder: `theme-folder/content/content.php` or possibly `theme-folder/content/content-single.php`

Feel free to post the code here so everyone following along can see the progress of the issue rather than doing it through email.

[2015-10-10 00:26] jaime666 commented on #58
There are 5 content.php archives: content.php, content-single.php, content-page.php, content-blog.php, and content-contactpage.php.
now, I paste the content.php and content-single.php; if U need the others, tell me.

CONTENT.PHP

<?php
/**
 * @version   4.0.8 October 3, 2013
 * @author Webempresa http://www.webempresa.com
 * @copyright Copyright (C) 2013 Webempresa
 * @license   http://www.gnu.org

[2015-10-10 00:55] deviodigital commented on #58
In content.php, try changing this line:

`<?php if( $gantry->get( $page_context . '-post-title-link', '0' ) ) : ?>`

to this:

`<?php if( $gantry->get( 'single-title-link', '0' ) ) : ?>`

And see if it fixes the issue for you.

[2015-10-10 01:14] jaime666 commented on #58
No, it doesn´t work
![category arrendamientos alquiler](https://cloud.githubusercontent.com/assets/14141079/10408411/0377e538-6efd-11e5-983e-94191aaea91d.png)
![post](https://cloud.githubusercontent.com/assets/14141079/10408413/0e0133b0-6efd-11e5-8705-610037551a75.png)

[2015-10-10 01:16] jaime666 commented on #58
I must leave now, sorry, thank you, I´ll come back in 8 hours
Thanks for your help

[2015-10-10 10:44] deviodigital commented on #58
Wish I could be more help, but I'm out of ideas at the moment.

[2015-10-20 23:54] homeofmatt commented on #59
@philiparthurmoore Just wondering what the ETA on this is at this point

[2015-10-22 14:16] philiparthurmoore commented on #59
No ETA right now, unfortunately. I'm transferring the plugin over to the [company account](https://professionalthemes.nyc/) and then diving back into a round of improvements. I promise to get back to you as soon as I've investigated this further. Shouldn't be much longer but I can't promise an ETA.

[2015-10-29 00:55] fuyangli opened #63 "the_title() returning title AND subtitle!"
I'm using the_title() in my loop with the_subtitle() in another area.
Is there an way so the_title does not return the subtitle?

Thanks in advance!

[2015-10-29 04:11] philiparthurmoore commented on #63
Hi there. Yes, you could disable automatic Subtitle output by just having [this](https://github.com/philiparthurmoore/Subtitles#modifying-supported-subtitles-views) return false at all times.

Cheers,
Philip

[2015-10-29 05:52] philiparthurmoore commented on #61
@pchrismac Sheesh. So sorry to have missed this Issue. For now, you can [remove this](https://github.com/philiparthurmoore/Subtitles/blob/9bd96bbdd7ccba8c31c2fb8ecaa6eebfc14b19ba/public/class-subtitles.php#L568) portion of the plugin and they will show up in feeds just fine. I'll add in a way to filter this output in the next version of the plugin.

[2015-11-05 21:56] Dindigul opened #64 "works fine: want to limit width"
Hello
**The plugin works fine**. However, I would appreciate if you tell me how to limit its width upto 3/4 of page width. (Reason being, I don't want to use sidebar, and without it the subtitle stretches to full width).

[2015-11-06 08:42] philiparthurmoore commented on #64
Hi there. Try this:

[code]

Cheers,
Philip

[2015-11-06 08:43] #63 closed

[2015-11-06 20:51] Dindigul commented on #64
Worked perfectly.

BTW, can it be used to apply selectively? I mean only to Pages and Not Posts? Or on desired Pages/Posts?

(I also want my rating to change to 5 stars from present three. How to do that? I apologize for that knee-jerk reaction!)

[2015-11-07 01:39] philiparthurmoore commented on #64
Hi @Dindigul. Thanks for reconsidering your review. Often times those reviews are what keeps me going, and a simple support request can go a long way to helping you figure out your problem.

Yes, you can apply that code selectively, but I would need to know the specific posts/pages that you wanted to selectively apply the code on. Here's how you can easily do that:

1. Inspect your page HTML: http

[2015-11-10 20:49] matthauger opened #65 "Getting just the (actual) title?"
There's probably an easy answer to this, but how do I get just the title (esp. a clean version of the title), without the subtitle included? I'd like to, for example, set the title attribute of my permalinks to show just the title, sans subtitle.

[2015-11-11 08:09] philiparthurmoore commented on #65
This indicates to me that you're using `the_title` in an attribute when you should NEVER do that. Read [https://github.com/professionalthemes/Subtitles#theres-weird-html-showing-up-on-my-site](this). In short, use `the_title_attribute` and you'll be set. Never use the_title in your attributes. That's not why it was created.

Hope that helps. :)

[2015-11-11 08:10] #64 closed

[2015-11-11 15:05] matthauger commented on #65
Thanks, Philip! But I *am* using `the_title_attribute`; it seems to return *both* the title and the subtitle, concatenated. I'm looking to get just the title, sans the subtitle.

[2015-11-11 15:13] philiparthurmoore commented on #65
Seriously? That shouldn't be happening at all. Could you please show me your code? I'll take a look first thing in the morning. Thanks so much.

[2015-11-11 15:54] matthauger commented on #65
There's not much to the code here:
    <a href="<?php the_permalink(); ?>" title="<?php echo esc_attr( sprintf( __( 'Permalink to “%s”', 'independent-publisher' ), the_title_attribute( 'echo=0' ) ) ); ?>" rel="bookmark"><?php the_title(); ?></a>

[2015-11-11 15:58] matthauger commented on #65
There's not much to the code here:

`<a href="<?php the_permalink(); ?>" title="<?php the_title_attribute() ?>" rel="bookmark"><?php the_title(); ?></a>`

[2015-11-11 16:06] philiparthurmoore commented on #65
I might be going crazy here. Let me verify this first thing in the morning for you. Pretty sure there's an easy way around this.

[2015-11-13 21:10] matthauger commented on #65
Any luck, Philip? Thanks so much for taking a look at this!

[2015-11-13 23:49] philiparthurmoore commented on #65
Super-busy. I promise to take a look at this today! Cheers. :)
On Sat, Nov 14, 2015 at 04:10 matthauger <notifications@github.com> wrote:

[2015-11-14 03:19] matthauger commented on #65
Thanks, Philip, and thanks again for your sweet plugin.

On Friday, November 13, 2015, Philip Arthur Moore <notifications@github.com>
wrote:

[2015-11-16 13:45] philiparthurmoore commented on #65
@matthauger, sorry for the delay on this. [This](http://wordpress.stackexchange.com/questions/57079/how-to-remove-a-filter-that-is-an-anonymous-object) is exactly how to handle what you're after, but it's somewhat convoluted and complicated. Since (I incorrectly stated the opposite) `the_title_attribute` returns both title and subtitle, you'll need to do a little bit of work via `var_dump($GLOBALS

[2015-11-16 19:02] matthauger commented on #65
I appreciate your diligence here, and I'll try to dive into the solution you linked to. FWIW, I'd love to see `the_real_title_attribute or something equivalent in the plugin to make this easy on us end-users. Thanks again!

[2015-11-24 15:54] deviodigital commented on #65
I might be a bit late to the party, but I've been using `single_post_title` in a theme I'm developing and it's displaying just the title.

[2015-11-26 14:02] kraftner opened #66 "Ampersand show encoded in Backend"
If you create a subtitle that includes the `&` character it will show as `&amp;` in the backend after saving. In the frontend all is fine.

[2015-11-26 14:07] kraftner commented on #66
Looks like the issue is with `htmlspecialchars` [here](https://github.com/professionalthemes/Subtitles/blob/master/admin/subtitles-admin.php#L185)

[2015-11-26 14:12] philiparthurmoore commented on #66
You're right. I think there's a reason I used `htmlspecialchars` but seeing `&amp;` is obviously not very nice. I'll fix this in the next release; should have it out in the next week or two, before 4.4 lands. Thanks so much for the heads up.

[2015-11-26 14:27] kraftner commented on #66
I don't really see a reason for it. This is going through `esc_attr`anyway which does `htmlspecialchars` anyway. So it is actually converted twices -> `&amp;amp;`

I'll do a PR.

[2015-11-26 14:30] philiparthurmoore commented on #66
Wonderful, thank you thank you.

[2015-11-26 14:31] philiparthurmoore commented on #66
Will merge this in at some point during the weekend. Thanks again for this.

[2015-11-26 14:33] kraftner commented on #66
Awesome. Thank **you**  for the plugin. :smile:

[2015-12-03 19:23] deviodigital commented on #1
+1 for this, would love to see it added in. I've been digging at the code for the past week or so off and on but couldn't get it working right.

Any chance this is still on your radar @philiparthurmoore ?

[2015-12-03 19:33] deviodigital opened #68 "WP REST API integration"
I've been doing some work with the WP REST API recently and noticed that the subtitles aren't in the data being shown for any of the content types (posts, pages, custom post types).

I've got some code that I'm currently using to add in the subtitles for each of the custom post types I'm working with, but I'm trying to find a way to elegantly write it so it loops through and automatically adds the

[2015-12-03 20:01] philiparthurmoore commented on #1
Definitely still on my radar. So much to do in so little time. I plan to hop back into development next week.

[2015-12-05 22:05] jaime666 commented on #58
Hi there again,
I´ve installed Genesis Metro, and Subtitles is now running well. It shows subtitles in the posts list and in the single post.
Now I heve a questión, begiing you can help me.
I´m importing csv that I have made from an excel file. I import the csv with the pluggin "CSV Importer"
I have the titles of the colums "post_content", "post tittle", "post_title", "_yoast_wpseo_metadesc", "pos

[2015-12-06 00:04] jaime666 commented on #58
But it´s still the original issue: It is possible to list subtitles (and linked them to the single post where they were written) in a category page or archive page??. Please, someone can help? Now that I,m working with Metro (Genesis). Thank You

[2015-12-06 00:08] jaime666 commented on #58
I´d like to have the subtitles listed in a category or archive page, ordered into (inside of) the category that I assigned to the post. Maybe I´m asking a lot of things, sorry.

[2015-12-07 14:52] kraftner commented on #66
Anything else I can do here?

[2015-12-07 14:54] philiparthurmoore commented on #66
Nope. Incredibly swamped today prepping a new theme for launch. I expect to merge this in within the next day or two. 4.4 is dropping tomorrow. I'll be updating this either tomorrow or the day after and releasing. Cheers.

[2015-12-09 14:55] #66 closed

[2015-12-09 15:43] #61 closed

[2015-12-09 15:57] philiparthurmoore commented on #65
@deviodigital, That also wouldn't work in this case since the plugin is also filtering `single_post_title`. One solution might be this: turn off Subtitles for `single_post_title` and leave it turned on for just `the_title`; this would be a quick and dirty way of achieving what @matthauger is after.

[code]

[2015-12-09 16:01] philiparthurmoore commented on #15
Closing this out since, after long last, [this](https://make.wordpress.org/plugins/2015/12/06/plugin-translations-for-all-plugins/) is a thing now. Should be able to handle translations for this plugin on .org when I make the next commit/release.

[2015-12-09 16:01] #15 closed

[2015-12-09 16:02] philiparthurmoore commented on #37
Related: https://github.com/professionalthemes/Subtitles/pull/49.

[2015-12-09 16:03] philiparthurmoore commented on #52
Don't think this is a priority right now. Closing.

[2015-12-09 16:04] philiparthurmoore commented on #59
Not making the cut for the next release. I need some time to get this right. Will jump back into this very soon.

[2015-12-09 16:07] philiparthurmoore commented on #58
Sorry to have let this ticket slide. I'm really confused why you would want to do this, but you should be able to do it by using the template tag `<?php the_subtitle(); ?>` inside of your post loop. This plugin comes with that tag for situations like this, so all you'd need to do is run your posts through a normal [Loop](https://codex.wordpress.org/The_Loop) and subtitles would show up.

[2015-12-09 16:08] philiparthurmoore commented on #68
I'll leave this open. Cheers.

[2015-12-09 16:45] deviodigital commented on #65
If the permalinks are being manually written in code, then `single_post_title()` would work, like this

`<a href="<?php the_permalink(); ?>" title="<?php single_post_title(); ?>"></a>`

I've tested it on a couple of different themes to verify, and it does work.

[2015-12-09 16:47] philiparthurmoore commented on #65
Technically you probably should never do that: `the_title_attribute` is more appropriate. :) It should also be run through `esc_attr`. Anyway... bed time. I'll revisit this later. My head is spinning.

[2015-12-10 20:13] pchrismac commented on #61
Thanks for this. Do I just paste the new code over the old default code? Add it CSS? Or something else? I've tried a couple but keep messing it up. Not really a coder. Thanks.

[2015-12-11 03:04] philiparthurmoore commented on #61
@pchrismac, see [this](https://github.com/professionalthemes/Subtitles#displaying-subtitles-in-rss-feeds). Put it into your theme's `functions.php` file and you should be good to go.

[2016-01-25 02:07] philiparthurmoore opened #69 "Subtitles not appearing in previews."
Ref: https://wordpress.org/support/topic/subtitles-not-appearing-in-previews

Need to look into this.

[2016-02-02 13:25] philiparthurmoore commented on #69
@mkrdip, can you verify this bug for me?

[2016-02-02 19:29] mkrdip commented on #69
Synapse is a premium theme, I was unable to check the plugin preview with that theme he mentioned: https://www.simplethemes.com/wordpress-themes/theme/synapse

It doesn't have the issue he mentioned with default themes **twenty** series:
![image](https://cloud.githubusercontent.com/assets/3819579/12761522/87abbd0c-ca15-11e5-9b4d-e27f64d5d6e6.png)

[2016-02-03 00:41] philiparthurmoore commented on #69
Great. Thanks.

On Wed, Feb 3, 2016 at 02:29 Mrinal Kanti Roy <notifications@github.com>
wrote:

[2016-02-06 05:26] themechills opened #70 "Can Subtitles HTML output be changed?"
Hi @philiparthurmoore,

Hope you can help...just wondering, is it possible to change this HTML output from:

[code]

..to be like this instead:

[code]

Appreciate your help, thanks!

Leo

[2016-02-06 09:08] philiparthurmoore commented on #70
Hi Leo, you sure can. See [this](https://github.com/professionalthemes/Subtitles#modifying-subtitles-markup). You may need to make some adjustments to your theme, though, especially if the title output in your theme looks something like this:

[code]

Cheers,
Philip

[2016-02-06 23:32] themechills commented on #70
Thanks Philip, appreciate the suggestion.

That being said, that still wraps a `entry-title-primary` span tag as well as the primary title and subtitle being included within the `<h1>` element. I was more so wondering if these could be separated in a way like I mentioned above?

This is the current output I'm getting:

[code]

Once again, thanks Philip!

Leo

[2016-02-07 04:34] philiparthurmoore commented on #70
Can you show me the actual code in your theme that's being used for titles? Thanks.

[2016-02-07 08:51] themechills commented on #70
Sure thing, here it is:

[code]

[2016-02-07 09:12] philiparthurmoore commented on #70
Thanks. In your case something like [turning off automatic Subtitles entirely](https://github.com/professionalthemes/Subtitles#modifying-supported-subtitles-views) and then [adding them back in manually](https://github.com/professionalthemes/Subtitles#using-template-tags) would make the most sense here.

[2016-02-07 09:28] themechills commented on #70
I'll try that out, thanks Philip!

[2016-02-07 14:26] NoahjChampion opened #71 "Feature Request: HTML Markup Support for"
Hi,

Is there an option for this or could you add support for adding/filtering HTML Markup for the global output filter?

Example:

[code]
</br>

renders the following outside of the .subtitle span (and div in my case)...

</br>

<img src="http://take.ms/ELqEw">

</br>

The output is not ideal (unless I'm missing something) and it comes out looking like this...
(with no way to style it)

</br>

<i

[2016-02-07 14:28] philiparthurmoore commented on #71
Are you basically asking if you can add more HTML into the subtitles input field in the post editor? I'm having trouble following this Issue. Thanks a ton.

[2016-02-07 14:38] NoahjChampion commented on #71
Damn, that was quick man. I was just browsing the Wordpress Repo of other's posts to see if I could find anything similar.

Ok, being more exact.

Using the option "**Filtering All Subtitle Output**" found @ https://github.com/professionalthemes/Subtitles#filtering-all-subtitle-output

That filter output is outside of the subtitle span and has no HTML markup to style it. I would like to style it.

[2016-02-07 14:42] philiparthurmoore commented on #71
That makes sense. Can you show me the original code that you used in order to get the output that you currently have (the screenshot that you showed me in your initial Issue creation)? Also, can you show me the desired HTML output?

So I need:

1. To see the code that you're currently attempting to use.
2. The current HTML output (done).
3. The ideal HTML output.

Keep in mind I'm typing this from

[2016-02-07 14:58] NoahjChampion commented on #71
Sure, no problem. Appreciate the help.

Year of the Fire Monkey man!!! Here's to the best attributes of that zodiac to you. #Salute

**I'm running the below filter to change the HTML markup of Subtitles...**

[code]

**I'm running the below to add a global Subtitle output...**

[code]

**Here's the HTML output again...**

<img src="http://take.ms/ELqEw">

**Here's the Ideal HTML output...**

[code

[2016-02-07 15:06] philiparthurmoore commented on #71
Thanks. Why not just change this:

`
return $title . 'How to Live An Incredible Life and Business';
`

To something like this:

`
return $title . '<div id="Branding-Phrase"><span class="branding-phrase">How to Live An Incredible Life and Business</span></div>';
`

I don't see why that wouldn't work.

Happy New Year!

[2016-02-07 15:14] NoahjChampion commented on #71
You're a genius man! Thanks and you too!

I'm newer to php, so I just didn't have that in my brain to think of that, but now I do and can apply it elsewhere. Thanks a lot!!!

That worked. Appreciate it.

[2016-02-07 15:14] #71 closed

[2016-02-07 15:15] philiparthurmoore commented on #71
Awesome! Leave me a review on .org if you don't mind. If not, that's also fine. Good luck with everything; glad you figured this out quickly with me.

[2016-02-07 15:31] NoahjChampion commented on #71
@philiparthurmoore done. I left a review some time ago, but that was under an old account I see now.

2 reviews won't hurt :) #Cheers

[2016-02-07 15:32] philiparthurmoore commented on #71
Ah! Thank you so much. You rock!

On Sun, Feb 7, 2016 at 10:31 PM, Noahj Champion <notifications@github.com>
wrote:

[2016-02-25 20:24] NoahjChampion opened #72 "Filtering All Subtitle Output (returning a dynamic sidebar)..."
Is it possible to return a sidebar for the All Subtitle Output?

I'm making Subtitles integrate with my theme I'm building but I want to give the user more content control.

Instead of...

[code]

I want to return a sidebar like...

[code]

I'm just not sure if it's possible or how to string that return output. Is this possible and/or can you provide how this can be done?

The end result I want is

[2016-02-25 20:25] NoahjChampion commented on #72
This is referencing the filter @ https://github.com/professionalthemes/Subtitles#filtering-all-subtitle-output

[2016-02-27 14:08] NoahjChampion commented on #72
I found a better way to go about what I was trying to achieve.

[2016-02-27 14:08] #72 closed

[2016-02-28 02:36] #69 closed

[2016-02-28 02:37] #70 closed

[2016-04-14 17:52] theyoungrens opened #74 "Subtitles don't get passed to Facebook OG"
Possible to rewrite og:title to include the subtitle text with a delimiter?

[2016-04-22 10:39] philiparthurmoore commented on #74
@theyoungrens, apologies for my delayed response on this issue. This is probably possible already via the API that's available within the plugin, but I wouldn't be able to say 100% for sure without diving into the issue more. As you noted in your email, this is more of a side project for us than our super-primary focus, but it doesn't mean that we're not open to developing this out further to fit

[2016-04-28 13:56] nicoleamandaa opened #75 "Change to H2?"
Hello,
I have tried to do some reading and research to figure out myself prior to posting here. I know it says in the code the reasoning for it being an H1 span, but I would really like it to inherit my H2 settings. I'm a code newb but is there any minor code I can add/change so that my Subtitles show up as H2?
TIA!

[2016-04-28 15:51] philiparthurmoore commented on #75
Hi Nicole. There are a number of ways to do this. Could you please post the code that your theme uses to output titles and I'll give you some suggestions? I'm heading down for the night, but will check in on this tomorrow. Thanks a ton.

[2016-04-28 15:54] nicoleamandaa commented on #75
I think I figured it out! Sound the code spot in the plugin code. Thanks!

Nicole Salter
*Nicole Amanda Photography*

*Office hours: Tuesday-Friday 9:00am-5:00pm*

Ottawa & destination wedding photographer
website: www.nicoleamanda.ca
<http://www.nicoleamanda.ca/?utm_source=email&utm_medium=email&utm_term=email&utm_content=email&utm_campaign=email>
 |
 blog: blog.nicoleamanda.ca
<http://blog.nicol

[2016-04-30 04:28] philiparthurmoore commented on #75
Fantastic. Thanks for letting me know! I'll close this issue out but do feel free to reach out again if you run into any other problems.

[2016-04-30 04:28] philiparthurmoore commented on #74
Closing this out - see the above comment.

[2016-04-30 04:28] #74 closed

[2016-04-30 04:29] #58 closed

[2016-04-30 04:36] philiparthurmoore commented on #65
After looking at this much later, it appears to be that you can simply remove `the_subtitle` from `single_post_title` via `remove_filter` and get rid of this issue altogether. Are either of you still dealing with this? If not, I'll close this out.

[2016-05-01 20:59] matthauger commented on #65
If I'm remembering correctly, I've built my own workaround for this. Thanks for the follow-up!

On Apr 30, 2016, 12:36 AM -0400, Philip Arthur Moore<notifications@github.com>, wrote:

[2016-05-02 00:37] philiparthurmoore commented on #65
Wonderful. Thanks for confirming!

[2016-05-02 00:37] #65 closed

[2016-05-04 19:36] nicoleamandaa commented on #75
Small additional question, where can I change the name/title that shows up on the top of a browser tab? I've tried to change in my Yoast but it seems subtitles is overriding something.

Right now its showing PageName[nospace]Subtitle | Title

Ideally I'd like to have Subtitle | Title | PageName

Thanks!

![screenshot 2016-05-04 15 32 46](https://cloud.githubusercontent.com/assets/10685320/15026764

[2016-05-05 01:31] philiparthurmoore commented on #75
@nicoleamandaa, I believe that may have more to do with your theme than this plugin. Within Yoast SEO, have you tried to force title rewriting? That's what I usually do on my site if I add a unique site title via Yoast and it's not working. I believe there's an option to fix that. Failing that - you may need to get in touch with your theme author to let them know that you're unable to set your sit

[2016-05-05 02:26] nicoleamandaa commented on #75
No, my subtitle is in it and my theme doesn't support subtitles at all.
"Mer Bleue Bog Engagement" is my subtitle

Nicole Salter
*Nicole Amanda Photography*

*Office hours: Tuesday-Friday 9:00am-5:00pm*

Ottawa & destination wedding photographer
website: www.nicoleamanda.ca
<http://www.nicoleamanda.ca/?utm_source=email&utm_medium=email&utm_term=email&utm_content=email&utm_campaign=email>
 |
 blog:

[2016-05-05 02:42] philiparthurmoore commented on #75
Yikes, okay. Let me do some digging today and get back to you.

[2016-05-06 16:30] nicoleamandaa commented on #52
I'd love this eventually if it doesn't yet exist!

[2016-05-06 16:41] philiparthurmoore commented on #52
Not yet, but could you give me a use case where this would make sense? I'd totally be up for considering adding it in if it made sense! Cheers.

[2016-05-06 16:48] nicoleamandaa commented on #52
I'm in the process of writing all my default title and meta descriptions, instead of having the excerpt it would be more useful SEO wise for me to do "%%Subtitle%% photos by Nicole Amanda Photography" so that it would show up in search as "Pink & Grey Holiday Inn Wedding photos by Nicole Amanda Photography"

[2016-05-06 16:50] philiparthurmoore commented on #52
Do you mean a Yoast-specific template tag for better SEO? I thought you meant a shortcode to be used in post content, which was confusing.

[2016-05-06 16:52] nicoleamandaa commented on #52
Oh I figured it was universal, wordpress newb. But yes!

[2016-05-06 16:56] philiparthurmoore commented on #52
Okay, can you email support@professionalthemes.nyc and I'll get back to you Monday about both of your issues? I need to see if Yoast has an API we can plug into. Thanks a ton.

[2016-05-10 12:57] Subco opened #76 "Multilanguage problem"
Hi,

I just noticed that the subtitle cannot be placed individually for different languages any more. Since the last WP update the subtitle for our german site and english site are always the same. That means, if I change the subtitle in the german post the english post has the same subtitle and if I change it back in the english post the german post has the english subtitle.

[2016-05-10 13:02] philiparthurmoore commented on #76
Hi there. Are you using a 3rd-party plugin for your multilingual site?

[2016-05-10 13:03] Subco commented on #76
I just wanted to write that the problem maybe caused by "MultilingualPress". They updated their plugin yesterday.

[2016-05-10 13:05] philiparthurmoore commented on #76
Yeah, my hunch is that this may be a problem on their end. We haven't changed anything with regard to our translations, which are super-simple. You might want to contact them and ask if they've changed anything in the last release that may be affecting the translation of custom fields?

[2016-05-10 13:12] Subco commented on #76
Yes I think so too. It seems that you have to "remove" the relationship between the german and the english post (that function is provided by MultilingualPress). So you have to create two separated posts in german and english. Then the subtitle is also saved separately for each post.

Thank you nonetheless, I've complained to early, sorry ;)

[2016-05-10 13:16] philiparthurmoore commented on #76
No worries at all. I'll close this out but feel free to open any other threads if you run into future issues. Have a wonderful day!

[2016-05-10 13:16] #76 closed

[2016-05-16 00:49] KerryRitter opened #77 "UI for enabling custom post types support"
It would be great to have a UI that allows enabling the plugin for a post type.

[2016-05-18 16:13] philiparthurmoore commented on #75
@nicoleamandaa, I just ran another test on this and this does not appear to be an issue with _Subtitles_, but possibly your theme or a conflicting plugin. What happens if you switch over to Twenty Sixteen or another default theme? Do you still see the subtitle in your address bar? This is the standard header that we use in our themes:

[code]

The actual title is handled from within our theme's se

[2016-05-18 16:13] #75 closed

[2016-05-18 16:18] philiparthurmoore commented on #77
@KerryRitter, thanks for bringing this up. That seems somewhat complicated, given how [simple it is](https://github.com/professionalthemes/Subtitles#adding-subtitles-support-into-custom-post-types) to already add support for _Subtitles_ into a custom post type already, no?

[2016-05-18 16:24] philiparthurmoore commented on #52
@nicoleamandaa, heads up that I responded about the Yoast shortcode issue in a separate email. We could probably do it as a custom project but don't currently have the manpower to invest in adding this into the .org plugin at the moment. It's a fantastic suggestion and I'd love to get it in; we simply just don't have the staff available for working on it outside of a customized plugin project. I'l

[2016-05-18 16:24] #52 closed

[2016-05-18 16:28] nicoleamandaa commented on #75
Hmm too scared to attempt. My theme is build and updated elsewhere, doesn't save directly into themes so can't risk losing it. It worked before so probably a plugin. Thanks!

[2016-05-22 13:59] philiparthurmoore opened #78 "Add support for Jetpack Testimonials by default."
See [this](https://wordpress.org/support/topic/can-subtitle-be-outputted-through-jetpack-testimonial-shortcode?replies=2). It should be fairly easy to do this, since we've already done it with Jetpack the portfolio module.

[2016-05-27 09:13] actual-saurabh opened #79 "Need additional filter to support an extension for prefixes"
Hi @philiparthurmoore,

For a project, I needed to add subtitles and prefixes to titles. Rather than reinventing the wheel, I use this plugin and it's great.

I used the `the_subtitle` filter in https://github.com/professionalthemes/Subtitles/blob/master/public/class-subtitles.php#L713 to add prefixes to my custom post type titles. It helps me that Subtitles has already taken the decisions that my

[2016-05-27 09:56] philiparthurmoore commented on #79
@actual-saurabh Love the idea. Go ahead and whip up a PR for it, and I'll make sure to get it in the next release ASAP. Your use case makes total sense there. Thanks for bringing it to my attention!

[2016-06-02 18:56] KerryRitter commented on #77
It seems like it'd be relatively simple. The downside of config is that it's a little tricky to find that you need to do that. Doing it is no problem in itself, but it's much more discoverable if there is an available UI.

I would imagine it would be possible to store a string array storing the name of the custom post types the user has enabled, and then looping through that array and calling the

[2016-06-13 10:17] #78 closed

[2016-06-13 10:18] philiparthurmoore commented on #77
@KerryRitter, thanks. I'll tag this as an enhancement and see what we can do in a future release.

[2016-06-13 10:43] #79 closed

[2016-06-13 10:43] philiparthurmoore commented on #79
Done in https://github.com/professionalthemes/Subtitles/commit/409ef148b9d4392de50698920c2a7fcdbd755746.

[2016-06-13 11:39] philiparthurmoore commented on #79
Note that documentation has been added here: https://github.com/professionalthemes/Subtitles#allow-developers-to-override-the-early-bailout-if-no-subtitle-exists.

[2016-06-14 16:45] thomaskoren opened #81 "Title and subtitle are shown twice in category and tag view"
In default posts overview, everything looks great. But when I click on a tag or category to display all posts within it, the title of each post is rendered like this:

Uncategorized 2016-06-13
This is a title
This is a subtitle
">This is a title
This is a subtitle
Her is the inital paragraph of the post

I am using hueman theme on WP 2.5.2 and subtitles 2.2.1

Thank you for your help!

[2016-06-15 01:03] philiparthurmoore commented on #81
Hey Thomas. Is that a free or premium theme? What's the link to it?

[2016-06-15 03:35] actual-saurabh commented on #79
👍

[2016-06-15 08:59] thomaskoren commented on #81
It is free and you can find it here: https://wordpress.org/themes/hueman/

[2016-06-22 01:28] Geneus opened #82 "Modifying Subtitles Markup"
Hi Philip.

As it stands following [these instructions](https://github.com/professionalthemes/Subtitles#modifying-subtitles-markup) on modifying the plugin's markup, I cannot achieve my desired output.

Ideally, I'd like it to be output this way…

[code]

I cannot achieve this. When I choose paragraph tags, it still outputs the markup inside the H1 tag.

[code]

When I use heading tags, I get the

[2016-06-22 01:58] Geneus commented on #82
I should have explored other issues prior to opening my own. After reading through #70, I followed [your instructions](https://github.com/professionalthemes/Subtitles/issues/70#issuecomment-180981298) which worked.

This…

[code]

would be a superior way of doing it. Avoids mucking around in template files but can't complain. I achieved what I required despite an extra step or two.

Thanks @philip

[2016-06-22 01:58] #82 closed

[2016-06-22 02:20] philiparthurmoore commented on #82
@Geneus, awesome! I'm glad you were able to figure this out. Let me know if you run into any other issues.

[2016-06-22 02:21] philiparthurmoore commented on #81
@thomaskoren, sorry for the delayed response. We've been absolutely swamped. I'm 100% sure this is a theme bug but I won't be able to dig into it until at some point this weekend. If you switch to a default theme and the issue goes away, then it's your theme. If you switch to a default theme and the issue persists, then it's a plugin bug. Let me know.

[2016-07-15 11:42] isaumya opened #83 "Subtitles for Categories"
Hi there,
first of all thanks a lot for making this awesome plugin.  I think it would be great if this plugin allows to add subtitle for categories too. Because in wordpress categories can have their own archival pages. be it normal post category or category created by plugins like Easy Digital Downloads.

So, I think it would be really great if this plugin allows adding subtitle for each categori

[2016-08-05 17:36] TBarregren opened #84 "Feature request: Kicker"
First of all, thank you for a great plugin.

This is a feature request for the possibility to also do kickers (see http://www.easymedia.in/kickers-newspapers-use-even-today/).

A simple but working solution would to have a drop down menu after the additional heading field. It's default value could be "Subheading", which gives exact the same behaviors as today. But there should  also be a "Kicker"

[2016-08-05 17:39] philiparthurmoore commented on #84
I have no idea what a kicker is but I'm keeping this open because you've
totally tickled my curiosity. Let me give this a read and a think and get
back to you as soon as I can. Thanks so much for the suggestion.

On Sat, Aug 6, 2016 at 00:36 Thomas Barregren <notifications@github.com>
wrote:

[2016-10-03 16:04] philiparthurmoore opened #85 "Webhook Test"
Temp. Closing out shortly.

[2016-10-03 16:05] philiparthurmoore commented on #85
Comment test.

[2016-10-03 16:06] philiparthurmoore commented on #85
Closing issue. Appears to work as expected.

[2016-10-03 16:06] #85 closed

[2016-10-19 13:50] davidsherlock opened #86 "Meta Key"
Hello,

I use EDD + Frontend Submissions and want to make it possible for the vendors to add subtitles to their product posts. FES allows you to create custom fields for the vendors and associate a meta key.

What is the meta key that Subtitles uses so I can set this up for my vendors?

Thanks,
David

[2016-10-19 14:00] davidsherlock commented on #86
Got it! For anyone interested it's "_subtitle".

[2016-10-19 14:26] philiparthurmoore commented on #86
You're quick! And you're exactly right. 😄

[2016-10-19 14:26] #86 closed

[2017-01-03 11:57] videcollective opened #87 "Title and subtitle appearing as part of featured image"
<img width="819" alt="screen shot 2017-01-03 at 12 49 20" src="https://cloud.githubusercontent.com/assets/24893115/21607039/d3d1b74e-d1b3-11e6-9ea1-e093ff3e890e.png">

Hi,

I'm having a problem with the title and subtitle appearing as part of the featured image after installing the Subtitle plugin. What can I do to fix this?

[2017-01-03 12:05] philiparthurmoore commented on #87
Hi there. Have you read [this](https://github.com/professionalthemes/Subtitles#theres-weird-html-showing-up-on-my-site) yet? It tackles the issue you've raised.

[2017-01-03 12:20] videcollective commented on #87
Yes, I did read it, but unfortunately I don't understand how to fix it as I'm not very good at coding.
It seems that I need to change "the_title" to "the_title_attribute" somewhere - the problem is that I don't know which template I need to edit, since I don't know where to find "the_title"..  Is this something that I should ask the theme developer about?

[2017-01-03 13:34] philiparthurmoore commented on #87
This definitely sounds like something your theme developer should be able to fix for you. Ask them to make this quick adjustment for you and fix their themes and you should be all set. :-)

On Jan 3, 2017, 19:20 +0700, videcollective <notifications@github.com>, wrote:

[2017-01-14 19:21] marcchaperon opened #88 "Recent Post Widget Extended - HTML issue"
Hello,

Thanks for this amazing plugin,
My template wasn't compatible with the plugin but I've successfully change the title by title attribute.
But I have no luck with the plugin "Recent Post Widget Extended" the bad html display is here once again :'(.
I found this line on the fonction code of the plugin  👍
`$html .= '<h3 class="rpwe-title"><a href="' . esc_url( get_permalink() ) . '" title="' .

[2017-01-14 19:41] mkrdip commented on #88
Hi @marcchaperon,

Would you mind to get in touch with RPWE support [here](https://wordpress.org/support/plugin/recent-posts-widget-extended) for this and let us know what they suggest?

[2017-02-06 08:48] alingham commented on #1
+1 for this feature too. I was close to uninstalling this plugin and trying another until I saw it was in the pipeline on this page...

[2017-02-06 09:40] philiparthurmoore commented on #1
@alingham, have you seen this added into another subtitles-like plugin already? Bulk-editing and quick-edit features are in the works but haven't been worked on due to lack of asks and priority.

[2017-02-06 09:50] alingham commented on #1
Yeah. It seems that WP Subtitles does it, as does Visual Subtitles.
I don't like WP Subtitles because it has to be coded into the theme, and
Visual Subtitles hasn't been updated in quite a while...

On Mon, 6 Feb 2017 at 10:40 PM, Philip Arthur Moore <
notifications@github.com> wrote:

--

Cheers

<http://www.alingham.com/>

AL INGHAM
al@alingham.com / 027 227 0249

Photography | Web Design | Musi

[2017-02-06 10:08] philiparthurmoore commented on #1
Cool. I'll give that a look to make sure people are able to switch easily between plugins and also update have an updated README for 4.7.2 by some point next week. I also use the plugin - it's not for lack of desire that this hasn't been added in.

[2017-02-23 18:05] philiparthurmoore opened #89 "Getting more done in GitHub with ZenHub"
Hola! @philiparthurmoore has created a [ZenHub](http://www.zenhub.com) account for the **professionalthemes** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com

[2017-02-23 18:06] #89 closed

[2017-04-02 16:30] anddorua commented on #65
Here is my inline workaround
[code]

[2017-04-02 16:30] philiparthurmoore commented on #65
Love it. Thanks for contributing that information! 👍

[2017-04-13 14:18] betwinned opened #90 "Subtitles doesn't work with Virtue theme"
Hello.  We are a high school newspaper and have been using Subtitles regularly since 2014, so ... thank you.  We just switched to the theme [Virtue](https://themes.kadencethemes.com/virtue/) and see that the subtitles render properly on the post page, but not in the blog overview on the homepage.  See the attached screenshots (one is the post page; one is the home page display with error; another

[2017-04-13 14:31] betwinned commented on #90
Hi, sorry, I didn't include the link to our site.  [MFS WordsWorth](http://www.mfswordsworth.com).  Thanks again.

[2017-04-13 19:00] mkrdip commented on #90
Hi Diana [@betwinned],

Thanks for creating the issue but it'd be considered as a support request. It's not a plugin issue, as it is working fine with all other themes but not only with your new theme. I would request you to get in touch with us via support@professionalthemes.nyc. So, I can help you in detail and ask more questions, which are not suitable to ask here in public repo.

[2017-04-13 19:00] #90 closed

[2017-04-28 07:36] Stephanie889 opened #91 "Change Font Family in Subtitles Plugin"
Hi,

I would like to know how I can change the font family in the Subtitles Plugin. The font of the subtitles should look different than the font of the headline. How can I achieve this? Great Plugin by the way!

I'm looking forward to your reply.

Best regards,
Stephanie

[2017-04-28 08:09] philiparthurmoore commented on #91
Hi Stephanie,

The plugin itself ships with no font. If you are seeing the same font in your subtitle that you see in your normal title then that is expected behavior. If you would like to use a different font for your subtitle, you will need to use some custom CSS to achieve that. Did you have a particular font in mind for your subtitle? Thank you.

Philip Arthur Moore
CEO @ Professional Themes (

[2017-05-15 19:08] #91 closed

[2017-05-15 19:08] #88 closed

[2017-05-15 19:08] #87 closed

[2017-05-15 19:10] philiparthurmoore commented on #84
@TBarregren This would actually make for an interesting addition. The subtitle would be _below_ the title and the kicker would be _above_, correct?

[2017-05-15 19:13] philiparthurmoore commented on #83
I'm not sure how I missed responding to you. I'm so sorry. Categories already do this though, but they are called descriptions. Check it out:

![2017-05-16_02-12-40](https://cloud.githubusercontent.com/assets/28684/26074759/36e8aa2c-39dd-11e7-8071-0dd597a69f82.png)

Cheers,
Philip

[2017-05-15 19:13] #83 closed

[2017-05-15 19:15] philiparthurmoore commented on #81
@thomaskoren Did you ever get to the bottom of this?

[2017-05-15 19:17] philiparthurmoore commented on #35
Super-hard to test this now since I'm running my personal site on WordPress.com [at the moment](https://philip.blog), but this seems like something that Yoast's SEO plugin or another custom title/description plugin would handle far better than this plugin.

[2017-05-15 19:17] #35 closed

[2017-06-04 21:50] davidsherlock opened #92 "the_subtitle logic check"
I am using the following code in my theme:

[code]
However this dosen't take into account if the subtitle actually exists (i.e. contains data), is there a function or way of checking this before processing other than checking the post meta?

[2017-06-05 04:19] philiparthurmoore commented on #92
Hi David. That actually takes place inside of the plugin already. Nothing should ever return to the screen unless the post meta exists. Are you seeing otherwise?

Philip Arthur Moore
CEO @ Professional Themes (https://professionalthemes.nyc/)
philip@professionalthemes.nyc
Facebook (https://www.facebook.com/ProThemesNYC/) / Twitter (https://twitter.com/ProThemesNYC) / Press Build (https://pressbuil

[2017-08-17 14:08] Onenn opened #95 "Subtitles on Portfolio"
I have installed Subtitles on my website. I am trying to use it on Portfolio items. The field is showing of in the backend but not on the front. Can you help?
Thanks

[2017-08-17 14:15] philiparthurmoore commented on #95
What sort of Portfolio items are you referring to? Have you read the FAQ
about subtitles only showing up inside the Loop automatically? What theme
are you using? Does the same behavior persist if you switch to a default
theme?

Thanks a ton.

Philip Arthur Moore
Founder and CEO, We Cobble
We build digital products for people.™
Email: philip@wecobble.com
Web: https://wecobble.com/
Phone: +1-888-410

[2017-08-17 14:33] Onenn commented on #95
Hi Philip,

Thanks for getting back to me so fast.

The theme I am using is "Designer" from Array https://arraythemes.com/themes/designer-wordpress-theme/ which is a paid theme. Portfolio works pretty much as a post but is under Portfolio (all projects, add new,  project types, project tags). It was installed automatically with the theme (not as a plugin)
If I use the subtitle on a normal post, it

[2017-08-17 15:10] philiparthurmoore commented on #95
Hi Onnen,

Mike and crew at Array make excellent themes. Jetpack portfolio support is
already baked into the plugin but I don’t know how Mike has developed that
custom post type.

Can you please ask them:

1. What is the post type slug for Portfolio posts?
2. Is it contained in the Loop?

Feel free to link them here.

Philip Arthur Moore
Founder and CEO, We Cobble
We build digital products for peo

[2017-10-03 19:08] anonymiz opened #96 "multiple subtitles"
how can i add multiple subtitles
![4e097c1c7a9c5f9cfd285d62e24b2732](https://user-images.githubusercontent.com/22165537/31143856-09249de2-a87f-11e7-9110-8b0c8405f39f.png)

[2017-10-03 19:47] philiparthurmoore commented on #96
Hi there. This plugin adds subtitles to WordPress post titles. It is not intended to be used as a plugin for adding closed captions into various media. Hope this helps clear up the confusion.

[2017-10-03 19:47] #96 closed

[2017-10-03 19:48] philiparthurmoore commented on #84
Closing due to lack of reporter feedback. Feel free to open and discuss when ready. Thanks.

[2017-10-03 19:48] #84 closed

[2017-10-03 19:49] philiparthurmoore commented on #95
Closing due to lack of feedback. Please open when ready. Thanks!

[2017-10-03 19:49] #95 closed

[2017-10-03 19:50] #92 closed

[2017-10-03 19:52] philiparthurmoore commented on #68
Any luck? I plan on revisiting this soon.

[2017-10-03 19:52] #81 closed

[2017-10-04 04:51] deviodigital commented on #68
I still want to take care of this. May take me a few days to get the free time, but I'll do my best to take care of it ASAP 👍

[2017-12-05 20:32] ThisIsTrue opened #97 "Feature Request: above OR below"
Love the plugin: works right out of the box.

I'd love it if I could move the subtitle to be _above_ the title, however, similar to the [kicker](https://github.com/wecobble/Subtitles/issues/84) feature previously requested, but that guy didn't answer questions about it, and I will.

Thanks!

[2017-12-07 19:01] philiparthurmoore commented on #84
Followed up here: https://github.com/wecobble/Subtitles/issues/97

[2017-12-07 19:03] philiparthurmoore commented on #97
@ThisIsTrue Thanks for bringing this up again. The easiest way of handling this right now would be at the theme level, because any plugin changes to how subtitles worked would mess up a ton of sites. Another way, down the road, might be to just create a separate plugin _or_ a separate feature called "kickers" that does exactly what Subtitles does but in reverse (above the title). I'm leaving this

[2017-12-07 19:30] TBarregren commented on #84
Sorry I didn't answer in October. I was bogged down with work at the time and then forgot it. :-/ Anyway…

In news papers and some magazines there are three titles that can be combined:

Kicker: This a short heading above the main heading. It is used to give a context for the main heading, e.g. a topic, a reference to an ongoing event. It could also be used to explain a (too) clever heading. Here

[2017-12-07 19:31] TBarregren commented on #97
The "guy" has now [answered the question](https://github.com/wecobble/Subtitles/issues/84#issuecomment-350070225). :-)

[2017-12-07 20:25] ThisIsTrue commented on #97
Thanks, Philip, for your quick reply. I don't think a change in the plugin has to change ANY existing implementations. Simply adding an option click (with the default being unclicked, of course, so as to not affect existing use) would do it. Like so:

![subtitle](https://user-images.githubusercontent.com/34285425/33736948-c758bde8-db51-11e7-9b0b-9bb3b1487955.png)

And thanks, Thomas, for popping i

[2018-01-30 18:30] aemmanuele opened #99 "Changing Font Size"
Hi there, with a recent update to Avada, I noticed that the Subtitle text is smaller than that of the body text.How do I increase size?
![screen shot 2018-01-30 at 1 30 26 pm](https://user-images.githubusercontent.com/35971565/35584048-c61db8d0-05c1-11e8-9324-bf5dbab6c597.png)

[2018-02-19 10:29] BlackThunderWolf opened #100 "Subtitle not shared on Facebook and co."
Hey. Nice Plugin, but when i share Topics, the Subtitle will does't shared in the Description. It is possible to fix it?

[2018-03-11 16:30] flowdee opened #101 "wp_seo_get_bc_title is deprecated"
https://github.com/wecobble/Subtitles/blob/992114173a98845bd4bc39e05e5226210cc93be7/public/class-subtitles.php#L245

Deprecated: wp_seo_get_bc_title
New: wpseo_breadcrumb_single_link_info

Would be great if you fix your plugin because it's throwing annoying PHP notices. Thanks ;)

[2018-03-21 12:09] websevendev opened #102 "Maybe don't load CSS when 'subtitle_view_supported' filter is set to false"
Hello,

I'm adding support for this plugin into my theme and am taking the subtitle directly from post meta and adding it with custom markup.

I'm using `add_filter('subtitle_view_supported', '__return_false');` to disable the default functionality, how ever it also outputs the CSS in the head which is not needed in my use case:

[code]

Would be great if the `subtitle_view_supported` filter would

[2018-03-21 12:11] websevendev commented on #102
Aaand I just read the readme, ignore this.

[code]

[2018-03-21 12:11] #102 closed

[2018-03-21 14:36] philiparthurmoore commented on #101
@flowdee So sorry for not getting on this. We unhooked Subtitles from Slack and I'm playing cleanup right now. Let me roll out a fix for this and push a new version of the plugin tomorrow!

[2018-03-21 14:37] philiparthurmoore commented on #100
@BlackThunderWolf So sorry for the late response. For some reason Issues were not being shown in Slack. Let me get back to you tomorrow about this.

[2018-03-21 14:38] philiparthurmoore commented on #99
@aemmanuele Did you figure this out? We have CSS classes that you can use to change your font sizing. Do you have a link to the page in question so we can help you with this? Thanks a ton.

[2018-04-01 05:03] mkrdip commented on #99
Hi @aemmanuele,

You can use Custom CSS like this to control font and sizes.

`span.entry-subtitle {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    font-weight: 800;
}`

Cheers.

[2018-04-01 05:04] philiparthurmoore commented on #99
Thanks, @mkrdip. Closing this. @aemmanuele Please let us know if you need anything else.

[2018-04-01 05:04] #99 closed

[2018-04-01 05:05] philiparthurmoore commented on #101
@flowdee Sorry for the late follow-up. Do you happen to have the specific PHP notice you're receiving and does it happen only when breadcrumbs in Yoast are turned on?

[2018-04-01 05:07] philiparthurmoore commented on #100
@BlackThunderWolf To follow up on this, subtitles by default do not show in RSS readers and Facebook sharing. The easiest way to fix this would be with a 3rd-party SEO plugin for now I believe, but I am looking into ways of having this information be shared. It's a special data piece that isn't normally included in shared posts data to FB, Twitter, etc., so it'll take some digging.

[2018-04-01 05:08] philiparthurmoore commented on #97
@ThisIsTrue Noting that this is still a valid enhancement. Planning on adding this to a future release.

[2018-04-01 08:59] flowdee commented on #101
Yes it only happens with enabled breadcrumbs.

`[01-Apr-2018 08:56:51 UTC] PHP Notice:  wp_seo_get_bc_title is <strong>deprecated</strong> since version WPSEO 5.8! Use wpseo_breadcrumb_single_link_info instead. in /wp-includes/functions.php on line 4090`

[2018-04-01 09:01] philiparthurmoore commented on #101
@flowdee Perfect, thank you. Working on adjustments today and tomorrow. This is top of the list.

[2018-04-01 09:44] flowdee commented on #101
Happy to hear 👍

Right now I'm using a hook in all of my projects to prevent deprecated notices from showing up but of course this is only a temporary solution 😄

[2018-04-01 09:46] philiparthurmoore commented on #101
Would you mind sharing your hook? I don't want to ruin your adjustments by pushing an errant update to the plugin.

[2018-04-06 11:35] grappler commented on #68
@robertdevore Are you still planning on working on this?

I am looking into Gutenberg support and expect REST API support will be needed.

[2018-04-06 12:01] robertdevore commented on #68
@grappler I honestly haven't looked much into it, but in the next couple of weeks after I launch v2.0 of WP Dispensary, I'll have more time to put together some code for this :+1:

[2018-04-07 13:09] philiparthurmoore commented on #68
I'll be adding this into the next release. Not sure about full-blown Gutenberg support but definitely REST API support, and then Gutenberg shortly after. The endpoint will probably just be at a location like `https://subtitles.app/wp-json/wp/v2/posts/1241` with `subtitle: { rendered: [subtitle] },`. If you have any specific hiccups you'd like to preemptively avoid let me know.

[2018-04-07 13:26] philiparthurmoore commented on #68
<img width="1202" alt="2018-04-07_20-24-40" src="https://user-images.githubusercontent.com/28684/38455406-e196d5b4-3aa1-11e8-97b4-b4e83a1d3425.png">

[2018-04-07 13:28] philiparthurmoore commented on #101
https://gist.github.com/robneu/7743769#gistcomment-2280213

[2018-04-07 13:29] philiparthurmoore commented on #101
https://yoast.com/yoast-seo-5-8/

[2018-04-07 13:31] philiparthurmoore commented on #101
<img width="626" alt="2018-04-07_20-31-11" src="https://user-images.githubusercontent.com/28684/38455465-a63ba62e-3aa2-11e8-8a77-6e102bdc3234.png">

https://wordpress.org/plugins/wordpress-seo/advanced/

[2018-04-07 15:17] grappler commented on #68
There are two ways of adding support

You can directly register the meta key which means it will get added to the meta section.
[code]

The second method is define a seperate section to display the subtitle. You can do that with

[code]

Both snippets have been tested but I not sure if they are following the best practices.

[2018-04-09 07:45] grappler opened #104 "Gutenber Support"
Once #68 is fixed then we can start working on Gutenberg support.

I started looking into how this would be possible. It seems like we would need to extend `VisualEditor` and `TextEditor` but it does not seem so easy at the moment.

I have opened an issue upstream https://github.com/WordPress/gutenberg/issues/6072

[2018-04-10 17:33] philiparthurmoore commented on #101
Working undocumented pseudocode. Will tidy this up tomorrow.

[code]

[2018-04-10 17:35] philiparthurmoore commented on #101
Noting that this will require a plugin version bump to 4.0.0.

[2018-04-11 04:40] #101 closed

[2018-04-11 16:47] philiparthurmoore commented on #68
Issues:

1. Posts are not the only post type supported. Pages, posts, Jetpack custom post types, and anything that someone manually declared support for has subtitles support.
2. DocBlocks need improvement.
3. I do not like putting functions inside of callbacks directly. I'll make a helper function or adjust `get_the_subtitle` to make this work better.

[2018-04-11 16:59] philiparthurmoore commented on #97
Sorry to flip-flop on this so quickly, but after thinking about this more, I'd like to avoid putting this into the plugin in the next release.

Right now there's a very easy way to do this: use `the_subtitle` and `get_the_subtitle`, which are documented [here](https://github.com/wecobble/Subtitles#using-template-tags). So the steps would be:

1. Turn off automatic subtitles.
2. Edit the theme file

[2018-04-11 20:52] grappler commented on #68
Looks good. Though `global $post;` should not be needed.

[2018-04-12 08:12] philiparthurmoore commented on #68
@grappler It should be needed but it is. Without it, NULL is returned. In fact, I should only need to call `get_the_subtitle`, which already relies on `get_post`. I'll figure it out but no `global` wasn't working at all. Will do some digging.

[2018-04-22 05:39] philiparthurmoore opened #105 "Confirm bbPress Compatibility"
A rating was recently given on WordPress.org that mentions possible plugin issues with bbPress: https://wordpress.org/support/topic/not-compatible-with-bbpress-2/#post-10206153

We need to look into this before 4.0.0 is released.

[2018-04-25 13:50] philiparthurmoore commented on #104
See also: https://github.com/WordPress/gutenberg/issues/6409

[2018-04-29 10:34] jeremycherfas opened #106 "USER question re MarsEdit"
## Issue Overview
I generally use MarsEdit to create posts. MarsEdit has a facility to add custom fields from WP. I'm not sure whether this would be an option, but is there a way I might be able to refer to the Subtitles field name to tell MarsEdit to add to that field? Or could I link a custom field I define so that Subtitles usew that when it exists?

[2018-04-29 10:55] philiparthurmoore commented on #106
Hey Jeremy. Perhaps. I'm working on #68 which is pretty much done and also looking into #104 so once those are handled I will look into this and see if there's a way to integrate this into your workflow. I'll leave this issue open until we've looked into it further.

[2018-04-29 15:15] jeremycherfas commented on #106
Very good. Thank you.

[2018-05-07 11:10] philiparthurmoore commented on #104
https://wordpress.org/support/topic/gutenberg-support-4/#post-10254053

[2018-06-07 23:39] madz00 opened #107 "Astra theme and comment title"
Hi there,
there is some problem with astra theme and the plugin output in the comment area.
It seems there is something wrong in the html markup, please take a look at the screenshot.

<img width="815" alt="hello_world" src="https://user-images.githubusercontent.com/17091159/41131744-681555de-6abd-11e8-8317-6bd8d17de55f.png">

[2018-07-26 16:51] jeremycherfas opened #108 "Subtitles in custom page not showing"
## Issue Overview

Not seeing subtitles in a custom page template

That's it, really. I wanted to create a page that displays only a certain category, but not a category display page. I did that with some fairly simple selections and a new WP_Query. A loop then displays the selected posts.

I don't quite understand whether this is THE loop or another loop. If it is another loop, I don't understand

[2018-07-26 16:54] philiparthurmoore commented on #108
Can you post your custom loop code? I can take a look. Or just show me the entire template. I suspect there's an issue with your loop placement.

[2018-07-26 17:05] jeremycherfas commented on #108
Sure; and thanks for the prompt reply. It is a bit cargo-cult, but other than that works.

[code]

[2018-07-26 23:10] philiparthurmoore commented on #108
Thanks. I'll look today. Just waking up. 🙂

Sent from my iPhone

[2018-10-17 16:31] RixBtrfly opened #110 "Not Showing Any More"
The Subtitles plugin appears to be functioning in the backend, but it is no longer showing on my website where people can see them. Help please! My website is tjstaste.com if that is helpful. Thank  you kindly!

[2018-10-19 14:53] iamstillalexh opened #111 "Can't see subtitle box in Gutenberg"
The subtitle box doesn't show up in the Gutenberg editor. I figured out how to edit with the classic editor and the subtitle box is still there, but like most things I'm sure they'll be phasing out the classic editor soon. Just wanted to give a heads up that this plugin is probably going to need to be updated for that.

[2018-10-20 15:40] philiparthurmoore commented on #111
Thanks a ton. This is addressed in https://github.com/wecobble/Subtitles/issues/104

[2018-10-20 15:40] #111 closed

[2018-10-24 06:42] philiparthurmoore commented on #108
@jeremycherfas I'm very sorry to have left you hanging on this. Did you end up ditching the plugin/theme conflict or do you still need help?

[2018-10-24 06:43] philiparthurmoore commented on #107
Hi there. Have you seen [this](https://github.com/wecobble/Subtitles#theres-weird-html-showing-up-on-my-site)?

[2018-10-24 07:15] jeremycherfas commented on #108
Well, I didn't ditch it, but I am not able to display subtitles either. And I seem to be able to live without ...

[2018-10-24 08:53] philiparthurmoore commented on #108
Thanks for the update. I will mark this closed but please see [this](https://github.com/wecobble/Subtitles#using-template-tags).

In your case, the following code snippet would probably work:

[code]

[2018-10-24 08:53] #108 closed

[2018-10-24 17:37] RixBtrfly commented on #110
Nope, I have not. Same theme it's been for past 2 years. It's Genesis with a child theme (child theme never changes, Genesis does update occasionally, but I didn't notice it being from an update).

[2018-10-25 01:36] philiparthurmoore commented on #110
Thanks for the heads up. Genesis isn't free so it's a bit impossible to debug without theme files. You'd need to email us at support@wecobble.com for more assistance.

[2018-10-25 02:02] #110 closed

[2018-10-25 02:03] #107 closed

[2019-01-09 12:19] peyman-mohamadpour opened #112 "the_title echos both title and subtitle"
**Describe the bug**
After plugin activation, I use `the_title()` and I mean title, but the plugin forces me to have both title & subtitle together. I can use `the_subtitle()` for that purpose. I think this is not good to change default behaviour of `the_title()`. by the way, how can I have separate `the_title()` & `the_subtitle()`, as I have some exact theming needs?

I know that I can disable it

[2019-04-27 23:51] shtefcs commented on #104
Hey guys, is this possible with Gutenberg? I can't find subtitle field.

[2019-04-28 04:55] philiparthurmoore commented on #104
@shtefcs Pretty sure it's possible. I was on a bit of a hiatus from this due to a new baby - it's not really a priority. I'm getting back into things slowly so I expect to be able to revisit this in the coming weeks.

[2019-04-28 07:43] grappler commented on #104
@shtefcs In the meantime you could test my PR #113 if you wanted to.

[2019-04-28 07:48] philiparthurmoore commented on #104
🙌🏽🙌🏽🙌🏽

On Sun, Apr 28, 2019 at 14:43 Ulrich Pogson <notifications@github.com>
wrote:

--
Cheers,

Philip Arthur Moore
Founder and CEO, We Cobble
We build digital products for people.™
Email: philip@wecobble.com
Web: https://wecobble.com/
Phone: +1-888-410-3280
Fax: +1-844-774-0503

[2019-04-28 16:23] shtefcs commented on #104
Aaa that is so cute, take care of your baby man :).

@grappler thanks for the response buddy. I manage to do it simply buy installing plugin called **Classic Editor** which gave me that subtitle field inside pages.

[2019-10-17 20:01] TB54 opened #115 "Option to keep HTML tags in subtitle fields"
Hello,

I see that the plug-in doesn't accept HTML tags (<span>,</br>, etc.), which disappear from the subtitle field when i save the page.

I suppose there is a good reason in deleting them, but they would be useful for me (and others ?), in order to choose where to broke the line of a too long subtitle (with a "display:block" span).

Is there a way to allow it as an option?
Otherwise, is there s

[2019-11-19 18:33] mykewithay opened #116 "Subtitle field not displaying on Page/Post add/edit form."
**Describe the bug**
I don't know how long this has been happening but I can no longer edit subtitles on new and existing pages or posts. The form no longer includes the field. I can see the subtitles values in the

**To Reproduce**
1 . Click add or edit any page.
2. Title and contact information appear, but the subtitle field is not listed.

**Expected behavior**

**Screenshots**
If applicable, a

[2019-12-31 16:12] barnj opened #117 "Show subtitles in post loops"
**Is your feature request related to a problem? Please describe.**
The subtitle shows when the full page/post is displayed, but on my front page where there is a post loop that shows the Featured Image, the post title and the post excerpt, the subtitle is not shown.  Also not shown in archive pages
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
a p

[2019-12-31 18:40] barnj commented on #117
Correction:  It _is_ showing on the archive pages.  So it's only code to put in the post loop

[2020-01-01 13:26] philiparthurmoore commented on #117
Hi there. Have you seen [this](https://github.com/wecobble/Subtitles#subtitles-dont-show-up-on-my-site)?

[2021-05-28 13:13] GentleRock opened #124 "Examples"
Hello,
do you have any example website that is using it this plugin?
Some that would display it's capabilities. I wonder if you can add and give the user the ability to select the language he wants for the captions on top of a video embedded from Vimeo, Odysee, or any other video service.

Thanks,
Marcello